{% extends "base.html" %} {% block content %}

  <!-- <p>
    TEXT MODEL
  </p> -->  
<div class="main">
  <div class="title">
    <h3>Text Classifier</h3>
  </div>

  <div class="panel">
    <input id="text-upload" class="text-box" type="text" />
  </div>
  <div style="margin-bottom: 3rem;">
    <input type="button" value="Submit" class="button" onclick="submitText();" />
    <input type="button" value="Clear" class="button" onclick="clearText();" />
  </div>

  <div id="text-box"> 
    <img id="text-display" />
    <div id="pred-result-text" class="hidden"></div>
    <svg id="loader-text" class="hidden" viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>

</div>

  <!-- <p>
    IMAGE MODEL
  </p> -->  
<div class="main">
  <div class="title">
    <h3>Image Classifier</h3>
  </div>

  <div class="panel">
    <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" />
    <label for="file-upload" id="file-drag" class="upload-box">
      <div id="upload-caption">Drop image here or click to select</div>
      <img id="image-preview" class="hidden" />
    </label>
  </div>
  <div style="margin-bottom: 2rem;">
    <input type="button" value="Submit" class="button" onclick="submitImage();" />
    <input type="button" value="Clear" class="button" onclick="clearImage();" />
  </div>

  <div id="image-box">
    <img id="image-display" />
    <div id="pred-result" class="hidden"></div>
    <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>  

</div>

{% endblock %}
